@model long
@{
    ViewBag.Title = "Created";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron col-md-8 col-md-offset-2">
    <p>
        THANK YOU
    </p>
    <p>
        We are looking forward to correcting your experience!
        You complaint number is @Model
    </p>
</div>
