@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>Frequently asked questions?</p>
    <dl>
        <dt>Who is eligible?</dt>
        <dd>As much as we would love to help everyone, we are very much into status, looks, and intelligence, but for this you just have to have elite airline status with AA , Delta, United.  In the future, as we scale our business, we will begin assisting a wider variety of Complaints so don’t forget to give us your email to receive expansion updates.</dd>
        <dt>Why EliteRoute?</dt>
        <dd>Because you are elite and you deserve the best, but I guess we should also tell you a bit about us.  We love getting what you deserve for your travel experiences and work tirelessly to make it happen.  Our EliteRoute expert concierge are well versed in customer service and have the best knowledge of how to navigate the complex travel customer service sphere.</dd>
        <dt>How do I submit a Complaint?</dt>
        <dd>The 1st step is to create an account, which will make it easier for you to submit future Complaints. Following that, you are ready to submit a Complaint, which is super easy: all you need to do is to fill out our a few details. The steps will fly by. You will receive a confirmation of submission on the website, and we will keep you posted on a regular basis, as your Complaint is in process.</dd>
        <dt>How much does it cost?</dt>
        <dd>We don’t get paid if you don’t get paid.  We take 20% of total compensation.<br /><strong>Note:</strong> at times airlines will provide compensation in the form of miles.  We value miles at 1.5 cents/ mile and take 20% of that value.  As mileage programs evolve and valuation changes, we will be sure to reevaluate this calculation.  We know you EliteRouteers are savvy when it comes to redemption so we are hoping you actually make those miles work much harder for you.</dd>
        <dt>How long does it take?</dt>
        <dd>Our experienced staff will use their skills to make the process as seamless and fast as possible, but as you probably know by now, navigating the system takes time, persistence and patience (and that is why we are here).  We hope to have everything resolved within one phone call, but hope our constant updates reassure you that you have the best experts working on your behalf.</dd>
        <dt>How will I know the status of my Complaint?</dt>
        <dd>We at EliteRoute believe in complete transparency and constant communication.  You will know our every move with the airline, you will receive updates when a call is made regarding your Complaint, including planned next steps if it isn’t solved within one contact.</dd>
        <dt>How can I track my Complaint status?</dt>
        <dd>We will provide updates via the App and Email.  And call us old fashioned, but you can also use that phone of yours to call us and we will let you know what is going on with your Complaint.</dd>
        <dt>Can I submit a Complaint myself?</dt>
        <dd>Of course, you are elite and you are the master of your own domain.  We don’t want to brag, but we are really awesome at this and help you avoid those calls that cause you to bang your head against your desk or break your cell phone by throwing it against a wall.</dd>
        <dt>Why can’t I submit Complaints for airlines outside of AA, Delta and United?</dt>
        <dd>Right now we want to keep our track record perfect and we have mastered the navigation of those airlines and will continue to expand our offering in the near future and will be sure to keep you posted.</dd>

    </dl>
</div>
