@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Travel interruptions are common and frequent travelers are accustomed to navigating imperfect travel and service experiences. We at EliteRoute represent travelers and provide concierge customer service representation to obtain compensation for any and all travel obstacles – because getting what you paid for should not be a second job.</p>
    <p class="text-center">Elite Traveller?</p>
    <p class="text-center"><a href="@Url.RouteUrl(new { controller = "Account", action = "SignUp" })" class="btn btn-primary btn-lg">Get Started!</a></p>
</div>